/* HEADER */

.container_header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

.container_header .bg_input {
    background-color: #e9ecef;
}

.logo_small {
    display: none;
    width: 30px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* MAIN */

.container_main {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

/* ASIDE */

.container_sidebar {
    width: 150px;
    height: 100%;
    min-height: 500px;
    background-color: #051e34;
}

/* PRINCIPAL */

.container_principal {
    width: calc(100% - 150px);
    height: 100%;
    background-color: #f8f9fa;
    overflow: auto;
}

/* TITLE */

.container_title {
    background-color: #1b72e8;
    font-size: 0.9em;
}

.my_badge {
    background-color: #165bba;
}

.my_badge_block {
    display: none;
}

.my_badge_inline {
    display: inline-block;
}

.font_size {
    font-size: 0.9em;
}



/* MEDIA QUERY */

@media screen and (max-width: 992px) {

    .container_sidebar {
        width: 70px;
    }

    .container_principal {
        width: calc(100% - 70px);
    }

    .logo_big {
        display: none;
    }

    .logo_small {
        display: block;
        margin-left: 7px;
    }


    .my_badge_block {
        display: inline-block;
    }
}


